<div id="home">

  <div class="container mt-4">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        {{!-- <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form> --}}
        <div id="mario-chat">
          <h2>Litty Chat</h2>
          <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
          </div>
          <input id="handle" type="text" placeholder="Handle" />
          <input id="message" type="text" placeholder="Message" />
          <button id="sendIt">Send</button>
        </div>


{{!-- Gify shit --}}

        <div class="col-12">
          <form id="topic-form">
            <label id="topic-text" for="topic-input">&darr;SEARCH GIFS&darr;</label>
            <input type="text" id="search-bar">
            <br>

            {{!-- <input id="search" type="submit" value="SEARCH!"> --}}
            <button id="search"> Search! </button>
          </form>
        </div>
        <br>

        <div class="row">
          <div class="col-12">
            <div id="topics-view"></div>
          </div>
        </div>



        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each litty}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="litty/{{this.id}}">{{this.name}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>