<div class="row valign-wrapper">
  <div class="col s10 offset-s1 valign" id="dsplPos">
    <div class="card hoverable blue-grey darken-1 center">
      <div class="card-content white-text">
        <div class="card-title">
          <h1>Litty Chat</h1>
          <h4>Welcome to our site!</h4>
          <h6>Decide your fate</h6>
        </div>
        <div class="card-content">
          
        </div>
      </div>
    </div>
  </div>
</div>


<div class="text-center">
<h1 class="mt-3">Welcome to our site. Decide your fate</h1>

<p class="lead mt-3">If you want to enter the chat room as a anonymous user select the button below.</p>
<form action="/users/login" method="POST">
        <div class="form-group">
          <input type="hidden" id="email" name="email" value="a@a.com"/>
        </div>
        <div class="form-group">
          <input type="hidden" id="password" name="password" value="1234"/>
        </div>
        <button style="width: 9rem;" type="submit" class="btn btn-secondary">Click Here</button>
      </form>

<p class="lead mt-3">If not sign up, then login to begin chatting.</p>
<a href="/users/register" class="btn btn-secondary">Click Here</a>

</div>
