<div class="row valign-wrapper">
  <div class="col s10 offset-s1 valign" id="dsplPos">
    <div class="card hoverable blue-grey darken-1 center">
      <div class="card-content white-text">
        <div class="card-title">
          <h1 id="welcome-title">Litty Chat</h1>
          <h4>Welcome to our site!</h4>
          <h5>Decide your fate</h5>
          <br>
        </div>
        <div class="card-action">
          <h5>Sign up, like a decent human being!</h5>
          <a href="/users/register" class="waves-effect waves-light btn-large">REGISTER</a>
        </div>
        <div class="card-action">
          <h5>Hide in anonymity, ya creep.</h5>
          <form action="/users/login" method="POST">
              <input type="hidden" id="email" name="email" value="a@a.com">
              <input type="hidden" id="password" name="password" value="1234">
            <button type="submit" class="waves-effect waves-light btn-large">ANONYMOUS</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{{!-- <div class="text-center">
<h1 class="mt-3">Welcome to our site. Decide your fate</h1>

<p class="lead mt-3">If you want to enter the chat room as a anonymous user select the button below.</p>
<form action="/users/login" method="POST">
        <div class="form-group">
          <input type="hidden" id="email" name="email" value="a@a.com"/>
        </div>
        <div class="form-group">
          <input type="hidden" id="password" name="password" value="1234"/>
        </div>
        <button style="width: 9rem;" type="submit" class="btn btn-secondary">Click Here</button>
      </form>

<p class="lead mt-3">If not sign up, then login to begin chatting.</p>
<a href="/users/register" class="btn btn-secondary">Click Here</a>

</div> --}}
