

/* .list-group-item {
  line-height: 2.5;
} */

body {
  /* font-family: 'Nunito'; */
  background-color: #d84315;
  overflow-y: visible;
  /* display: flex!important;
  min-height: 100vh!important;
  flex-direction: column!important; */
}

/* h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
} */

.sent-gif {
  display: block;
  margin: auto;
  width: 50%;
  padding-bottom: 23px;
}

.nav-wrapper {
  background-color: #ff5722;
}

.card {
  border-radius: 10px;
}

#chatroom-card{
  padding-top: 0;
}

/* #mario-chat{
  max-width: 100%;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
} */

#chat-window {
  /* height: 100%; */
  /* overflow: auto; */
  border-radius: 10px;
  background: #ff6e40;
  color: #37474f;
  overflow-y: scroll;
  height: 450px;
  padding: 1rem;
}

.p-message {
  margin-bottom: 5px;
  padding-left: 5px;
  border-radius: 10px;
  background-color: #64b5f6;
}

.output-div {
  border-radius: 10px;
  padding-left: 5px;
}

.feedback-div {
  border-radius: 10px;
}

#message-input-div {
  /* padding: 0px 24px; */
  margin: auto ;
}

/* #output p{
  padding: 14px 0px;
  margin: 0 20px;
  color: #555;
  border-radius: 10px;
} */

/* #feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
  border-radius: 10px;
} */

#output strong {
  color: #575ed8;
}

/* label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
} */

/* input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
} */

#welcome-title {
  margin-top: 20px;
}

#dsplPos {
  margin-top: 1%;
}

#big-window {
  overflow: auto;
  background-color: #bf360c;
}

.emojiButton {
  cursor: pointer;

}

.emojiButton:hover {
  font-size: xx-large;
}

img.active {
  border: 4px solid black;
}

#sendIt {
  margin-bottom: 8px;
}

.btn.waves-effect.waves-light {
  border-radius: 10px;
}

/* img.active{
  border:4px solid black;
} */

/* button{
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

/* #search-bar{
  border:solid #555; 
} */

.collapsible,
.collapsible-header,
.collapsible-body {
  border: none !important;
  border-radius: 10px !important;
  position: static;
}

/* img.active{
  border:4px solid black;
  border-radius: 10px;
} */

.emoji-body {
  padding: 29px 0px 0px 0px;
}

.emoji-scroll {
  overflow-y: scroll;
  height: 150px;
  padding: 1rem;
}

.giphy-scroll {
  overflow-y: scroll;
  max-height: 150px;
  padding: 1rem
}

/* .emojiButton{
  cursor: pointer;
  
} */

#chat-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #CCCCCC;
}

#chat-window::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#chat-window::-webkit-scrollbar-thumb {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 25%,
      transparent 100%,
      rgba(0, 0, 0, 1) 75%,
      transparent)
}

/* body {
  display: flex!important;
  min-height: 100vh!important;
  flex-direction: column!important;
} */

main {
  flex: 1 0 auto!important;
}
.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0;
}

#search{
  position: static;
}