

/* .list-group-item {
  line-height: 2.5;
} */

body {
  /* font-family: 'Nunito'; */
  background-color: #767473;
  overflow-y: visible;
  /* display: flex!important;
  min-height: 100vh!important;
  flex-direction: column!important; */
}

.sent-gif {
  display: block;
  margin: auto;
  width: 50%;
  padding-bottom: 23px;
}

.nav-wrapper {
  background-color: #252525;
}

.card {
  border-radius: 10px;
}

#chatroom-card{
  padding-top: 0;
}

#color-buttons {
  margin-left:auto;
  max-width: 200px;
}
.color-buttons:hover {
  cursor: pointer;
}

#chat-window {
  border-radius: 5px;
  padding: 5px;
  background: #585757;
  color: #cacaca;
  overflow-y: scroll;
  height: 55vh;
  width: 100%;
}

.p-message {
  margin-bottom: 5px !important;
  border-radius: 10px;
}

.output-div, .feedback-div {
  border-radius: 10px;
}

#message-input-div {
  /* padding: 0px 24px; */
  margin: auto ;
}

#welcome-title {
  margin-top: 20px;
}

#dsplPos {
  margin-top: 1%;
}

#big-window {
  overflow: auto;
  background-color: #424242;
}

.emojiButton {
  cursor: pointer;

}

.emojiButton:hover {
  font-size: xx-large;
}

img.active {
  border: 4px solid black;
}

#sendIt {
  float: right;
  width: 15%;
  margin: 10px 0px 0px;
  
}

.btn.waves-effect.waves-light {
  border-radius: 10px;
}

.collapsible,
.collapsible-header,
.collapsible-body {
  border: none !important;
  border-radius: 10px !important;
  position: static;
}

/* img.active{
  border:4px solid black;
  border-radius: 10px;
} */

.emoji-body {
  padding: 29px 0px 0px 0px;
}

.emoji-scroll {
  overflow-y: scroll;
  height: 150px;
  padding: 1rem;
}

.giphy-scroll {
  overflow-y: scroll;
  max-height: 150px;
  width: 100%;
}

#chat-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: transparent;
  box-shadow: none;
}

#chat-window::-webkit-scrollbar {
  width: 10px;
  /* background-color: #F5F5F5; */
}


#chat-window::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* background-color: #FFF; */
  background-image: -webkit-linear-gradient(90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 25%,
      transparent 100%,
      rgba(0, 0, 0, 1) 75%,
      transparent)
}

main {
  flex: 1 0 auto!important;
}
.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0;
  background-color: #37474f;
}

#search{
  position: static;
}
#search-bar, #message{
  color: ivory;
 }

 #message{
  width: 80%;
 }

 .old-message img{
  max-width: 100%;
 }


 /* #output p{
  padding: 14px 0px;
  margin: 0 20px;
  color: #555;
  border-radius: 10px;
} */

/* #feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
  border-radius: 10px;
} */

/* #output strong {
  color: #575ed8;
} */

/* label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
} */

/* input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
} */

/* body {
  display: flex!important;
  min-height: 100vh!important;
  flex-direction: column!important;
} */

/* .emojiButton{
  cursor: pointer;
  
} */

/* img.active{
  border:4px solid black;
} */

/* button{
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

/* #search-bar{
  border:solid #555; 
} */