/* .list-group-item {
  line-height: 2.5;
} */

body{
  /* font-family: 'Nunito'; */
  background-color: #d84315;
  
}

/* h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
} */

.nav-wrapper {
  background-color: #ff5722;
}

.card {
  border-radius: 10px;
}

/* #mario-chat{
  max-width: 100%;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
} */

#chat-window{
  /* height: 100%; */
  /* overflow: auto; */
  border-radius: 10px;
  background: #ffab00;
  color: #0d47a1;
  overflow-y: scroll;
  height: 500px;
  padding: 1rem
}

.emojiButton:hover {
  font-size: xx-large;
}

.output-div {
  border-radius: 10px;
  padding-left: 5px;
}

.feedback-div {
  border-radius: 10px;
}

/* #output p{
  padding: 14px 0px;
  margin: 0 20px;
  color: #555;
  border-radius: 10px;
} */

/* #feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
  border-radius: 10px;
} */

#output strong{
  color: #575ed8;
}

/* label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
} */

/* input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
} */

#dsplPos {
  margin-top: 10%;
}

#big-window{
  overflow: auto;
  background-color: #bf360c;
}



/* button{
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

/* #search-bar{
  border:solid #555;
} */

.collapsible,
.collapsible-header,
.collapsible-body {
  border: none !important;
  border-radius: 10px !important;
}

img.active{
  border:4px solid black;
  border-radius: 10px;
}

.emoji-body {
  padding: 29px 0px 0px 0px;
}

.emoji-scroll {
  overflow-y: scroll;
  height: 150px;
  padding: 1rem;
}

.giphy-scroll {
  overflow-y: scroll;
  max-height: 150px;
  padding: 1rem
}

.emojiButton{
  cursor: pointer;
}
